.header{
  position: sticky;
  top: 0;
  z-index: $z-header;
  display: flex;
  flex-wrap: wrap;

  /* background-image: linear-gradient(to bottom, $bg-dark, $bg-light); */
  background-color: $bg-dark;
  border-bottom: $bor-dar-lg;
}