.row {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  padding: 1rem;

  @mixin laptop{
    justify-content: space-between;
  }
  @mixin desktop{
    padding: 4rem 1rem;
  }

  /* MODIFIERS */ 
  &--col{
    flex-direction: column;
  }

  &--paginate{ 
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;
    background-color: $bg-dark;
    border-top: 3px solid $bg-light;

    & *:not(:last-child){
      margin-right: 2rem;
    }

    & .current {
      color: $accent-light;
      text-decoration: underline;
    }

    & .dots {
      color: #efefef;
    }
  }

  &--relative{
    position: relative;
  }

  /* BLOCK ELEMENTS */
  &__heading {
    width: 100%;
    display: flex;
    text-align: center;
  }
}