*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%; /* 1rem = 8px */
  scroll-behavior: smooth;
  
  @mixin tabPort{
    font-size: 62.5%; /* 1rem = 10px */
  }
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

 
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to bottom right, rgb(221, 224, 255), $bg-light);
  
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

