.cat-menu{
  margin: 6rem auto 0;
  width: 90%;
  box-shadow: $bs-lg;
}

.menu-categories-page-container{
  display: flex;
}

#menu-categories-page{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  width: 100%;

  & > .menu-item{
    padding: 1rem;
    text-transform: capitalize;
    background-color: $bg-dark;
  }

  & .menu-item{
    background-color: $bg-dark;
  }
}

