.construction{ 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 50vh;
  width: 100%;
  box-shadow: $bs-sm-white inset;

  @mixin tabLand{
    margin: 0 auto;
    width: 78rem;
  }
  @mixin laptop{
    width: 94rem;
  }

  &__bg-img{
    position: fixed;
    top: 110px;
    
    
    background-color: $bg-dark;
  }

  &__heading{
    position: relative;
    z-index: $z-hero-text;
    
    margin: 5rem  auto;
    font-size: 3rem;
    color: $text-white;
    text-align: center;
  }
  
  &__message{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: $z-hero-text;

    width: 100%;
    padding: 2rem;
    color: $white;
    background-color: $bg-mid;
    text-align: center;
    
    @mixin tabPort {
      margin: 4rem auto;
      width: 70%;
      box-shadow: $bs-sm-white inset;
    }
    @mixin tabLand {
      width: 50%;
    }
  }

  &__social-box{
    align-self: center;

    margin-top: 3rem;
    background-color: $bg-mid;
    box-shadow: $bs-sm-white;
    width: max-content;
  }
  
  &__social-link{
    padding: 1.2rem 2rem;
    background-color: $bg-mid;

    &:hover,
    &:active{
      background-color: $bg-light;
    }
  }
}