.fp-categories{
  padding: 3rem 0;
  @mixin fullDesktop{
    padding: 10rem 4%;
  }

  &__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 4rem;
    justify-items: center;

    @mixin laptop{
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 6rem;
    }
  }

  &__item{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 18rem;
    height: 26rem;

    @mixin laptop{
      width: 20vw;
      height: 30rem;
    }
    @mixin desktop{
      width: 26rem;
      height: 34rem;
    }
    @mixin fullDesktop{
      height: 38rem;
    }

    &:hover .fp-categories__img-overlay{
      /*
      transform: scale(1) translateX(-50%);
      */
      transform: translate(-50%, -.5rem);
    }
    &:hover .fp-categories__label-box{
      transform: translateY(-4rem);
      
      @mixin desktop{
        transform: translateY(-6rem);
      }
    }
  }

  &__img-box{
    /*
    */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border: 1rem solid $bg-dark;
    width: 20rem;
    height: 20rem;
    border-radius: 30rem;
    cursor: pointer;

    @mixin laptop{
      width: 20vw;
      height: 20vw;
    }
    @mixin desktop{
      width: 26rem;
      height: 26rem;
      border: 2rem solid $bg-dark;
    }
    @mixin fullDesktop{
      width: 30rem;
      height: 30rem;
    }
  }

  &__img{
    position: relative;
    z-index: 3;
  }

  &__img-overlay{
    position: absolute;
    top: 0;
    left: 50%;
    /*
    transform: scale(0) translateX(-50%);
    */
    transform: translate(-50%, -32rem);

    width: 21rem;
    height: 21rem;
    border-radius: 31rem;
    background-image: linear-gradient(to bottom, $accent, rgba(0, 0, 0, 0));
    transition: transform .3s;

    @mixin laptop{
      width: 21vw;
      height: 21vw;
    }
    @mixin desktop{
      width: 27rem;
      height: 27rem;
    }
    @mixin fullDesktop{
      width: 31rem;
      height: 31rem;
    }

    &::after{
      position: absolute;
      bottom: 20%;
      left: 50%;
      transform: translate(-50%);
      content: "";
      color: $bg-dark;

      @mixin tabLand{
        bottom: 25%;
        content: "";
      }
    }

  }

  &__label-viewport{
    /*
    */
    overflow: hidden;
    display: block;

    width: 18rem;
    height: 4rem;
    border-radius: 6rem;

    @mixin desktop{
      width: 24rem;
      height: 6rem;
    }
  }

  &__label-box{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 18rem;
    height: 8rem;
    transition: transform .3s;
    background-color: $bg-dark;

    @mixin desktop{
      width: 24rem;
      height: 12rem;
    }
  }
  
  &__label{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 18rem;
    height: 4rem;
    text-align: center;
    text-transform: capitalize;
    background-color: $bg-dark;
    font-size: 2rem;

    @mixin desktop{
      width: 24rem;
      height: 6rem;
    }
  }

  &__cta{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 18rem;
    height: 4rem;
    background-color: $accent;
    background-image: linear-gradient(to bottom, white, $accent);
    text-align: center;
    border: .5rem solid $bg-dark;
    border-radius: 6rem;
    color: $bg-dark;

    @mixin desktop{
      width: 24rem;
      height: 6rem;
      border: 1rem solid $bg-dark;
    }
  }
}