

.header-nav{
  width: 100%;
  padding-top: 3px;
  background-color: $bg-light;

  @mixin tabLand{
    order: 2;
    display: flex;

    padding-top: 0px;
    width: 50%;
    background-color: transparent;
  }
  @mixin desktop{
    width: 26%;
  }
  
  &__switch-box{  
    display: flex;
    
    width: 100%;
    padding: 3px;
    
    @mixin tabLand{
      align-items: center;
      justify-content: flex-end;

      padding: 0;
    }
  }
  
  &__switch-btn{ 
    padding: 0 .4rem;
    font-size: 2rem;
    color: $text-black;
    
    @mixin tabPort{
      width: max-content;
      padding: .2rem 1rem;
      border: $bor-li-sm;
      border-radius: $br-sm;
      font-size: 1.7rem;
    }
    @mixin tabLand{
      padding: 0.5rem .8rem;
      color: $text-white;
    }
    
    &:first-child{
      margin-left: 10px;
      
      @mixin tabPort{
        margin-left: 0;
      }
    }
    &:not(:last-child){
      margin-right: 10px;
    }
    &:last-child{
      @mixin tabLand{
        margin-right: 10px;
      }
    }

    &:hover{
      background-color: $bg-light;
      color: $text-black;
      cursor: pointer;
    }
  }
}


/* =========================================
============ WORDPRESS CLASSES =============
============================================*/

.menu-level-i-departments-container,
.menu-brand-header-menu-container,
.menu-other-header-menu-container{ 
  display: flex;
  flex-direction: column;
  
  height: 100%;
}

#menu-level-i-departments,
#menu-brand-header-menu,
#menu-other-header-menu{ 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height: 100%;
}

#menu-level-i-departments li,
#menu-brand-header-menu li,
#menu-other-header-menu li{ 
  margin-right: 18px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: $bg-light;
  text-decoration: none;
  
  &:hover{
    background-color: #999;
  }
}

#menu-level-i-departments li a,
#menu-brand-header-menu li a,
#menu-other-header-menu li a{ 
  width: 100%;
  padding: 3px 5px;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  font-size: 1.8rem;
  color: $text-black;
}

