.header-drop-box{
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
  
  overflow-y: scroll;
  height: 75vh;
  width: 95%;
  padding: 10px;
  padding-top: 6.5rem;
  background-color: $bg-dark-translucent;
  border: $bor-li-lg;
  
  @mixin tabPort{
    top: 150px;

    height: 66vh;
  }
  @mixin tabLand{
    top: 110px;

    height: 45vh;
  }

  &--open{
    display: flex;
  }
}


/* =========================================
=============== CLOSE BUTTON ===============
============================================*/



.header-drop-box-close{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  
  height:4.5rem;
  width: 4.5rem;
  cursor: pointer;
  border-radius: $circle-sm;
  border: $bor-enhance;
  box-shadow:$bs-sm-white inset;

  @mixin tabPort{
    top: 1rem;
    right: 1rem;
  }

  &::before, &::after{
    position: absolute;
    top: 50%;
    left:50%;

    content:" ";
    height: 4px;
    width: 24px;
    background-color: $bg-mid;
  } 

  &::before{
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after{
    transform: translate(-50%, -50%) rotate(315deg);
  }

  
}

/*================================
======WORDPRESS CLASSES===========
=================================*/



/*==================================
========= CATEGORIES BOX ===========
==================================*/

.menu-header-categories-container{
  display: flex;

  text-transform: capitalize;
  width: 100%;
}

#menu-header-categories{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  width: 100%;

  @mixin tabPort {
    grid-template-columns: repeat(3, 1fr);
  }
  @mixin tabLand {
    grid-template-columns: repeat(4, 1fr);
  }
  @mixin laptop {
    grid-template-columns: repeat(5, 1fr);
  }
  @mixin desktop {
    grid-template-columns: repeat(6, 1fr);
  }

  & .menu-item-object-category > a{
    font-size: 2rem;
  }

  & .menu-item-object-category .sub-menu li > a{
    font-size: 1.6rem;
  }
}

.menu-item-object-category{
display: flex;
flex-direction: column;

background-color: $bg-mid;
padding: 4px;

& .sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.6rem;

  & li{
    width: 100%;
  }
}
}

/*==================================
============ OTHER BOX =============
==================================*/

.menu-header-other-container{
  display: flex;

  width: 100%;
}

#menu-header-other{
  display: flex;
  flex-direction: column;
}

.menu-item-object-page{
  display: flex;
  
  margin-bottom: 1rem;

  & a{
    font-size: 2.4rem;
  }
  }
