.header-brand{ 
  display: flex;

  width: 100%;
  padding: .5rem;
  
  @mixin tabLand{
    width: 50%;
  }
  
  @mixin desktop{
    width: 40rem;
    margin-left: 3rem;
    padding: 1rem;
  }

  &__logo-box{
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    height: 6rem;
    width: 6rem;
    border-radius: $circle-sm;
    background-color: #fff;
    box-shadow: 0 0 5px 0 $bg-light;
  }

  &__logo{
    height: 100%;
  }

  &__heading{
    flex: 1;
    font-size: 3rem;
    text-indent: 2rem;
    
    @mixin tabPort{
      font-size: 3.4rem;
      text-indent: 2.6rem;
    }
  }

  &__heading-link{
    flex: 1;
    display: flex;
    align-items: center;
  }
}