.hero-mobile{
  position: relative;
  display: flex;

  margin-bottom: 4rem;
  width: 100%;

  @mixin tabPort {
    display: none;
  }

  &__bg{
    position: fixed;
    z-index: $z-bg;
    display: flex;
    width: 100%;
  
    @mixin tabPort {
      display: none;
    }
  }

  &__text-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: 68vw;
    padding: 3rem;
    background-color: rgba($bg-dark, .15);
    text-align: center;
    box-shadow: $bs-sm-white inset;
  }

  &__sub-heading {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 700;
    color: $bg-dark;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  }

  &__text {
    color: $accent-light;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    padding: 0 5rem;
    font-weight: 400;
  }

  &__all-items-link{
    margin-top: 2rem;

    padding: 1rem 2rem;
    border-radius: $br-sm;
    background-color: $bg-dark;
    color: $bg-light;
    font-size: 2rem;
  }
}