.hero{
  position: relative;
  display: none;

  width: 100%;
  margin-bottom: 6rem;

  @mixin tabPort {
    display: block;
  }

  &__bg-tablet{
    display: none;

    @mixin tabPort{
      display: block;
      position: fixed;
      z-index: $z-bg;

      margin-top: 13.8rem;
      width: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__banner-img{ 
    display: none;

    @mixin desktop{
      position: fixed;
      z-index: -1;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;

      margin: 113px auto 0;
      margin-top: 80px;  
    }
  }

  &__text-box{
    width: 100%;
    margin: 0 auto;
    margin-top: 22rem;
    padding: 1rem;
    background-color: rgba($bg-dark, .5);
    box-shadow: $bs-sm-white inset;

    @mixin tabLand {
      margin-top: 26rem;
    }
    @mixin desktop {
      margin-top: 36rem;
      padding: 4rem 1rem;
    }
  }

  &__sub-heading{
    position: relative;
    z-index: $z-hero-text;
    
    font-size: 2.2rem;
    font-weight: 400;
    color: $bg-mid;
    text-align: center;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    background-color: transparent;

    @mixin desktop{
      font-size: 4.4rem;
    }
  }

  &__text{
    @mixin tabPort {
      position: relative;
      z-index: $z-hero-text;
      
      margin-top: 2rem;
      padding: 0 5rem;
      font-size: 1.6rem;
      color: $accent-light;
      text-align: center;
      text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
      background-color: transparent;
    }

    @mixin desktop{
      margin-top: 3rem;
      font-size: 3rem;
    }
  }
}