.hero{
  position: relative;
  width: 100%;
  margin-bottom: 6rem;

  @mixin desktop {
  }
  
  /*
  &__bg-desktop{
    position: fixed;
    top: 5rem;
    left: 50%;
    z-index: $z-hero-bg;
    transform: translateX(-50%);
    
    background-color: $bg-dark;
    height: 50rem;

  @mixin desktop {
    height: 62rem;
  }
  }
  */

  &__banner-img{ 
    position: fixed;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;

    width: 150%;
    margin: 113px auto 0;

    @mixin desktop{
      margin: 8rem auto 0;
    }
  }

  &__text-box{
    width: 80%;
    margin: 6.5rem auto 0;
    padding: 1rem;
    background-color: rgba($bg-mid, .5);
    box-shadow: $bs-sm-white inset;

    @mixin desktop {
      margin-top: 30rem;
      padding: 4rem 1rem;
    }
  }

  &__sub-heading{
    position: relative;
    z-index: $z-hero-text;
    
    
    font-size: 2.2rem;
    color: $text-white;
    text-align: center;

    background-color: transparent;

    @mixin desktop{
      font-size: 4.4rem;
    }
  }

  &__text{
    position: relative;
    z-index: $z-hero-text;
    
    margin-top: 2rem;
    padding: 0 1rem;
    font-size: 1.6rem;
    color: $text-white;
    text-align: center;

    background-color: transparent;

    @mixin desktop{
      margin-top: 3rem;
      font-size: 3rem;
    }
  }
}