.problem{
  margin: 10rem auto;
  background-color: $bg-dark;
  color: $text-white;
  max-width: 60rem;
  border-radius: $br-lg;
  padding: 2rem;

  &__form{
    font-size: 2rem;
  }

  &__form-heading{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto 2rem;
    text-align: center;

    & span{
      color: $accent-dark;
    }
  }
  
  &__form-group{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    
    &:not(:last-child){
      border-bottom: 1px solid $bg-light;
    }

    &--text{
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__label{
    flex: 1;
  }

  &__input{

    &[type=checkbox]{
      margin-right: 2rem;
    }
  }

  &__submit{
    display: block;
    margin: 2rem auto 0rem;
    padding: 5px 12px;
  }

  &__textarea{
    display: block;
    width: 100%;
    height: 10rem;
    padding: 0;
  }
}