.product-card{
  display: flex;
  flex-direction: column;

  overflow: hidden;
  width: 100%;
  border-radius: $br-sm;
  
  &__header{
    background-color: $bg-dark;
    border: $bor-li-sm;
  }
  
  &__header-link{
    display: block;

    height: 42px;
    padding: 4px;
    padding-bottom: 0px;
    line-height: 1.2;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;

    @mixin tabPort{
      height: 46px;
      font-size: 1.6rem;
    }
    @mixin desktop{
      height: 58px;
      padding: 8px 4px;
      font-size: 1.8rem;
    }
  }

  &__header-brand{
    padding: 5px;
    font-size: 1.4rem;
    color: $accent-light;
    text-transform: capitalize;
  }
  
  &__body{
    flex: 1;
    display: flex;
    flex-direction: column;
    
    background-color: $bg-light;
    padding: 1rem;
    border: $bor-enhance;
    border-top: none;
  }
  
  &__thumb-box{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
    width: 100%;
    max-height: 35rem;
    box-shadow: $bs-sm;
    border-radius: $br-sm;
    background-color: #fff;
  }
  
  &__thumb{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    max-height: 100%;
    max-width: 100%;
  }
  
  &__price{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 4px;
    background-color: $bg-highlight;
    color: $text-highlight;
    font-weight: 500;
    box-shadow: $bs-sm;
    border: $bor-enhance;
    border-radius: $br-sm;
    
    @mixin desktop{
      padding: 8px;
    }
  }
  
  &__details-link{
    align-self: center;

    padding: 1rem 2rem;
    border-radius: $br-md;
    border: $bor-enhance;
    text-transform: capitalize;
    box-shadow: $bs-sm;
    color: $text-black;
    background-color: $accent-dark;
    
    &:hover{
      background-color: $accent-light;
      color: $text-black;
    }
  } 
}